/* variables */
:root {
  /* colors */
  --red-color: #f38181;
  --yellow-color: #fce38a;
  --light-green-color: #eaffd0;
  --green-color: #95e1d3;
  /* fonts */
  --montserrat-font: "Montserrat", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --kaushanScript-font: "Kaushan Script", cursive;
}

/* whole page, wrapper */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page {
  overflow: hidden;
  max-width: 1920px;
  font-size: 16px;
}

.wrapper {
  margin-left: 17.5%;
  margin-right: 17.5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
}

/* header */

.header {
  display: flex;
  flex-flow: row wrap;
  height: 10vh;
}

/* logo */

.logo-wrap {
  width: 50%;
  justify-content: flex-start;
}

.logo__text {
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 10vh;
  color: var(--green-color);
}

/* navigation menu */

.nav-wrap {
  width: 50%;
  justify-content: flex-end;
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-menu__item {
  line-height: 10vh;
}

.nav-menu__item_link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: var(--montserrat-font);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--green-color);
}

/* nav menu pseudo */

.nav-menu__item_link::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: var(--red-color);
  transition: width 0.3s linear;
  left: 0;
  bottom: 3vh;
}

.nav-menu__item_link:hover:before {
  width: 100%;
}

.nav-menu__item:hover .nav-menu__item_link {
  transition-timing-function: linear;
  transition-duration: 200ms;
  color: var(--red-color);
}

/* services and team section titles*/

.title_box {
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 25vh;
  overflow: hidden;
  padding-top: 8.5vh;
}

.title_first {
  font-family: var(--kaushanScript-font);
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1.7vh;
}

.title_second {
  font-family: var(--montserrat-font);
  font-size: 1.5rem;
  font-weight: 700;
}

.title_second::after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 7vh;
  background: var(--red-color);
  left: 47%;
  bottom: 4vh;
}

/* service list */

.services-wrapper {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: hidden;
  max-height: 50vh;
  height: 38vh;
  padding-top: 3vh;
}

.service__box {
  position: relative;
  height: 10vh;
  width: 35vh;
  padding-left: 5vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.service__box_title {
  font-family: var(--montserrat-font);
  font-size: 0.8rem;
  font-weight: 400;
  color: #333333;
}

.service__box_text {
  padding-top: 2vh;
  padding-bottom: 0.5vh;
  font-family: var(--roboto-font);
  font-size: 0.6rem;
  font-weight: 400;
  text-align: justify;
  line-height: 2.5vh;
  color: #999999;
}

/* icons */

.service__box::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  left: -3vh;
}

.photography::before {
  background: url("../src/photography.png") no-repeat;
}

.web-design::before {
  background: url("../src/webdesign_icon.png") no-repeat;
}

.creativity::before {
  background: url("../src/creativity_icon.png") no-repeat;
}

.seo::before {
  background: url("../src/seo_icon.png") no-repeat;
}

.css-html::before {
  background: url("../src/csshtml_icon.png") no-repeat;
}

.digital::before {
  background: url("../src/digital_icon.png") no-repeat;
}

/* team title description */

.team-title-description {
  text-align: center;
  height: 10vh;
  line-height: 3vh;
}

.title-description-text {
  font-family: var(--roboto-font);
  font-size: 0.8rem;
  color: #999999;
}

/* teammates section */

.team-cards__wrapper {
  display: block;
  max-height: 600px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* cards */

.teammate__boxes {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 6vh;
}

.teammate__box {
  position: relative;
  height: 320px;
  width: 255px;
}

/* photo */

.teammate__photo_box {
  margin: 0;
  width: 260px;
  height: 350x;
}

.teammate__photo {
  width: 260px;
  height: 350px;
  object-fit: cover;
}

.teammate__photo_1 {
  object-position: 20%;
}

.teammate__photo_2 {
  object-position: 10% 50%;
}

/* text (names, occupation */

.teammate__text_wrapper {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.teammate_name {
  font-family: var(--montserrat-font);
  font-size: 0.8rem;
  font-weight: 400;
  color: #333333;
  padding-bottom: 1vh;
}

.teammate_occupation {
  font-family: var(--roboto-font);
  font-size: 0.78rem;
  font-style: italic;
  font-weight: 300;
  color: #999999;
}

/* overlay */

.overlay_wrapper {
  position: absolute;
  height: 350px;
  width: 260px;
  background: var(--green-color);
}

.div-1 {
  position: absolute;
}

.div-2-img {
  width: 260px;
  height: 350px;
  object-fit: cover;
}

.div-2-img_1 {
  object-position: 20%;
}

.div-2-img_2 {
  object-position: 10% 50%;
}

.gradient {
  position: absolute;
  height: 350px;
  width: 260px;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(243, 129, 129, 0.8) 0%,
    rgba(252, 227, 138, 0.8) 100%
  );
  opacity: 0;
  z-index: 3;
}

/* overlay icons */

.icon-wrapper {
  display: flex;
  position: absolute;
  width: 200px;
  height: 45px;
  top: 50%;
  transform: translate(15%, -50%);
}

.icon {
  width: 50px;
  height: 45px;
  border-right: 1px solid #f38181;
  background: var(--yellow-color);
}

.facebook {
  margin-left: 18px;
  margin-top: 8px;
}

.twitter {
  margin-left: 12px;
  margin-top: 10px;
}

.pinterest {
  margin-left: 14px;
  margin-top: 10px;
}

.instagram {
  margin-left: 11px;
  margin-top: 10px;
}

/* overlay hover */

.icon:hover {
  transition-timing-function: linear;
  transition-duration: 200ms;
  background: var(--green-color);
}

.div-2 {
  position: relative;
}

.overlay_wrapper:hover .div-1 {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: translate(-10px, -10px);
}

.overlay_wrapper:hover .gradient {
  transition-timing-function: linear;
  transition-duration: 200ms;
  opacity: 1;
}

/* footer */

.footer {
  height: 50px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-flow: row wrap;
  margin-top: auto;
}

.copyright-wrap {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}

.copyright__text {
  font-family: var(--montserrat-font);
  font-weight: 400;
  font-size: 0.8rem;
}

.copyright__name {
  color: var(--red-color);
}

.form-wrap {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.email__input {
  height: 36px;
  width: 220px;
  border: 1px solid #e5e5e5;
}

::placeholder {
  font-family: var(--roboto-font);
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  color: #d3d3d3;
}

.subscribe {
  height: 36px;
  width: 130px;
  background: var(--green-color);
  border: none;
  color: white;
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 0.9rem;
  margin-left: -5px;
}