/* variables */
:root {
  /* colors */
  --red-color: #f38181;
  --yellow-color: #fce38a;
  --light-green-color: #eaffd0;
  --green-color: #95e1d3;
  /* fonts */
  --montserrat-font: "Montserrat", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --kaushanScript-font: "Kaushan Script", cursive;
}

/* whole page, wrapper */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  overflow: hidden;
  max-width: 1920px;
}

.wrapper {
  margin-left: 17.5%;
  margin-right: 17.5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
}

/* header */

.header {
  display: flex;
  flex-flow: row wrap;
  height: 10vh;
}

/* logo */

.logo-wrap {
  width: 50%;
  justify-content: flex-start;
}

.logo__text {
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 16pt;
  line-height: 10vh;
  color: var(--green-color);
}

/* navigation menu */

.nav-wrap {
  width: 50%;
  justify-content: flex-end;
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-menu__item {
  line-height: 10vh;
}

.nav-menu__item_link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: var(--montserrat-font);
  font-size: 9pt;
  font-weight: 400;
  color: var(--green-color);
}

/* nav menu pseudo */

.nav-menu__item_link::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: var(--red-color);
  transition: width 0.3s linear;
  left: 0;
  bottom: 3vh;
}

.nav-menu__item_link:hover:before {
  width: 100%;
}

.nav-menu__item:hover .nav-menu__item_link {
  transition-timing-function: linear;
  transition-duration: 200ms;
  color: var(--red-color);
}

/* footer */

.footer {
  height: 50px;
  background: green;
  margin-top: auto;
}
