/* variables */
:root {
  /* colors */
  --red-color: #f38181;
  --yellow-color: #fce38a;
  --light-green-color: #eaffd0;
  --green-color: #95e1d3;
  /* fonts */
  --montserrat-font: "Montserrat", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --kaushanScript-font: "Kaushan Script", cursive;
}

/* whole page, wrapper */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page {
  overflow: hidden;
  max-width: 1920px;
  font-size: 16px;
}

.wrapper {
  margin-left: 17.5%;
  margin-right: 17.5%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
}

/* header */

.header {
  display: flex;
  flex-flow: row wrap;
  height: 10vh;
}

/* logo */

.logo-wrap {
  width: 50%;
  justify-content: flex-start;
}

.logo__text {
  font-family: var(--montserrat-font);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 10vh;
  color: var(--green-color);
}

/* navigation menu */

.nav-wrap {
  width: 50%;
  justify-content: flex-end;
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-menu__item {
  line-height: 10vh;
}

.nav-menu__item_link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: var(--montserrat-font);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--green-color);
}

/* nav menu pseudo */

.nav-menu__item_link::before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: var(--red-color);
  transition: width 0.3s linear;
  left: 0;
  bottom: 3vh;
}

.nav-menu__item_link:hover:before {
  width: 100%;
}

.nav-menu__item:hover .nav-menu__item_link {
  transition-timing-function: linear;
  transition-duration: 200ms;
  color: var(--red-color);
}

/* services and team section titles*/

.title_box {
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 25vh;
  overflow: hidden;
  padding-top: 8.5vh;
}

.title_first {
  font-family: var(--kaushanScript-font);
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1.7vh;
}

.title_second {
  font-family: var(--montserrat-font);
  font-size: 1.5rem;
  font-weight: 700;
}

.title_second::after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 7vh;
  background: var(--red-color);
  left: 47%;
  bottom: 4vh;
}

/* service list */

.services-wrapper {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: hidden;
  max-height: 50vh;
  height: 38vh;
  padding-top: 3vh;
}

.service__box {
  position: relative;
  height: 10vh;
  width: 35vh;
  padding-left: 5vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.service__box_title {
  font-family: var(--montserrat-font);
  font-size: 0.8rem;
  font-weight: 400;
}

.service__box_text {
  padding-top: 2vh;
  padding-bottom: 0.5vh;
  font-family: var(--roboto-font);
  font-size: 0.6rem;
  font-weight: 400;
  text-align: justify;
  line-height: 2.5vh;
}

/* icons */

.service__box::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  left: -3vh;
}

.photography::before {
  background: url("../src/photography.png") no-repeat;
}

.web-design::before {
  background: url("../src/webdesign_icon.png") no-repeat;
}

.creativity::before {
  background: url("../src/creativity_icon.png") no-repeat;
}

.seo::before {
  background: url("../src/seo_icon.png") no-repeat;
}

.css-html::before {
  background: url("../src/csshtml_icon.png") no-repeat;
}

.digital::before {
  background: url("../src/digital_icon.png") no-repeat;
}

/*  */

/* footer */

.footer {
  height: 50px;
  background: green;
  margin-top: auto;
}

